@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

img {
    image-rendering: pixelated;
}

#game-screen {
    position: relative;
    margin-top: 180px;
    height: 512px;
}
#background-repeat {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-repeat: repeat;
    background-image: url("../assets/sprites/backgrounds/background-day.png");
}
#game-content {
    position: relative;
    width: 288px;
    height: 512px;
}
.game-element {
    position: absolute;
}
#bird {
    width: 52px;
    animation: birdwave 0.5s ease-in-out infinite alternate;
}
#initial-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: ease 0.6s;
}
#game-title {
    position: relative;
    width: 250px;
    margin-top: 100px;
    margin-bottom: 35px;
}
#get-ready {
    width: 170px;
    margin-bottom: 50px;
}
#click {
    position: absolute;
    bottom: -160px;
}

#pipe-spawn{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.pipe-box {
    right: -170px;
    margin-top: -390px;
    display: flex;
    flex-direction: column;
    animation: pipeloop 3.5s linear infinite;
}
#pipe-1 {
    animation-delay: 1.75s;
}
#pipe-2 {
    animation-delay: 3.50s;
}
.pipe {
    width: 85px;
}
.pipe-top {
    transform: rotate(180deg);
}
.space-between-pipes {
    background-color: red;
    padding: 75px 0;
}

#bg-floor {
    bottom: 0;
    left: -337px;
    height: 112px;
    width: 2016px;
    background-repeat: repeat;
    background-image: url("../assets/sprites/colliders/base.png");
    animation: floorloop 2.1s linear infinite;

    -moz-box-shadow: 0 110px 1px #dfd996;
    -webkit-box-shadow: 0 110px 1px #dfd996;
    box-shadow: 0 110px 1px #dfd996;
}
#dev-github {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: absolute;
    bottom: 20px;
    left: 20px;
}
#dev-github img {
    border-radius: 4px;
    width: 28px;
    margin-right: 4px;
}
#dev-github span {
    max-width: 150px;
    margin-left: 4px;
    font-family: 'Press Start 2P', cursive;
    color: black;
    font-size: 10px;
    letter-spacing: 0.5px;
}

@keyframes birdwave {
    from {
        transform: translateY(-20%);
    }
    to {
        transform: translateY(20%);
    }
}

@keyframes pipeloop {
    from {
        right: -170px;
    }
    to {
        right: 100%;
    }
}

@keyframes floorloop {
    0% {
       margin-left: -336px;
    }
    100% {
       margin-left: -672px;
    }
}