* {
    margin: 0;
    padding: 0;
}

#content {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #50C1CB 0%, #50C1CB 50%, #DFD996 50%, #DFD996 100%);
}